<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="container" id="container">
        <div class="datos">
            <p>Nombre: Gonzales Suyo Franz Reinaldo</p>
            <p>LAB-12 SIS324 GL-1</p>
            <p>Navigación Control Usuario</p>
        </div>
            <div class="tabla_usuarios" id="tabla_usuarios">
                <h1>Lista de Usuarios</h1>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Cuenta</th>
                            <th>Clave</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <th>Estampa</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% listaUsuarios.forEach(usuario =>{ %>
                            <tr>
                                <td><%= usuario.id %></td>
                                <td><%= usuario.nombre %></td>
                                <td><%= usuario.cuenta %></td>
                                <td><%= usuario.clave %></td>
                                <td><%= usuario.email %></td>
                                <td><%= usuario.rol %></td>
                                <td><%= usuario.estampa %></td>
                                <td class="operaciones">
                                    <a href="/update/<%= usuario.id %>"><button data-action="editar">Editar</button></a>
                                    <a href="/delete/<%= usuario.id %>"><button data-action="eliminar">Eliminar</button></a>
                                </td>
                            </tr>
                       <% }); %>
                    </tbody>
                </table>
            </div>
            <a href="/create"><button class="btn_registro">Registrar Usuario</button></a>
    </div>
</body>
</html>